body {
  margin: 0;
  overflow: hidden;
  background: black;
}

/* tela inteira */
.camera-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

/* câmera */
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 🔥 filtro centralizado com espaço igual */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100%;
  height: auto;

  max-height: 95vh; /* controla o espaço em cima/baixo */

  transform: translate(-50%, -50%);

  object-fit: contain;
  pointer-events: none;
}

/* 🔘 botão (mantido onde você gostou) */
.capture-btn {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);

  width: 70px;
  height: 70px;
  border-radius: 50%;

  background: white;
  border: 5px solid #ff9800;

  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

canvas {
  display: none;
}
